.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.Header {
  background-color: blueviolet;
  height: 55px;
}

.Header p {
  font-size: xxx-large;
  margin: 0;
}