.guess-bar {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.guess-letter {
    margin: 15px;
    flex: 33%;
    height: 40px;
    display: grid;
    background-color: #cdd3d8;
    place-items: center;
    font-size: 30px;
    border: 1px solid gray;
    color: black;
}