.guess-bar {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 0.3em;
}

.guess-letter {
    margin: 0.2em 0.25em;
    flex: 33%;
    display: grid;
    background-color: #cdd3d8;
    place-items: center;
    font-size: 1.6em;
    border: 1px solid gray;
    color: black;
    border-radius: 3px;
}

.correct {
    background-color: #2de961;
}

.almost {
    background-color: #e9e92d;
}

.wrong {
    background-color: #a89292;
}