.guess-bar {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.guess-letter {
    margin: 0.5em;
    flex: 33%;
    min-height: 1.5em;
    display: grid;
    background-color: #cdd3d8;
    place-items: center;
    font-size: 2em;
    padding: 0;
    border: 1px solid gray;
    color: black;
    border-radius: 6px;
}

.correct {
    background-color: #2de961;
    color: #282c34;
}

.almost {
    background-color: #e9e92d;
    color: #282c34;
}

.wrong {
    background-color: #a89292;
    color: #282c34;
}