.keyboard {
    max-width: 40em;
    min-height: 25em;
    margin: 4em;
}

.keyboard-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}


.enter {
    background-color: #4a515a;
    min-width: 3em;
}

.backspace {
    background-color: #4a515a;
    min-width: 5em;
}