.keyboard {
    width: 650px;
    height: 250px;
    margin-top: 10px;
    position: fixed;
    bottom: 3em;
}

.keyboard-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}


.enter {
    background-color: #4a515a;
    min-width: 4em;
}

.backspace {
    background-color: #4a515a;
    min-width: 6em;
}